@media screen and (max-width: 640px) {
    * {
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }
    .\34 u, .\34 u\24 { 
         width: 100% !important;
    }
    .image.left { 
         float: none !important;
         margin: auto auto !important;
    }
    .image.right {
        float: none !important;
        margin: auto auto !important;
    }
    .table {
        margin: calc(15% + 1.5em) !important; 
    }
    p#mobdescr {
        margin-left: 30px !important;
        text-align: justify !important;
    }
    img.moblogo {
        margin-left: 30px !important;
    }
    div.inner {
        margin: calc(4% + 1em) !important;
    }
    h3, h4 {
        text-align: center !important;
    }
    

}


    /* passer body (et tous les éléments de largeur fixe) en largeur automatique */

    body {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    /* fixer une largeur maximale de 100% aux éléments potentiellement problématiques */

    img,
    table,
    td,
    blockquote,
    code,
    pre,
    textarea,
    input,
    iframe,
    object,
    embed,
    video {
        max-width: 100%;
    }
    
    /* conserver le ratio des images */

    img {
        height: auto;
    }
    
    /* gestion des mots longs */

    textarea,
    table,
    td,
    th,
    code,
    pre,
    samp {
        -webkit-hyphens: auto; /* césure propre */
        -moz-hyphens: auto;
        hyphens: auto;
        word-wrap: break-word; /* passage à la ligne forcé */
    }
    
    code,
    pre,
    samp {
        white-space: pre-wrap; /* passage à la ligne spécifique pour les éléments à châsse fixe */
    }
    
    /* Passer à une seule colonne (à appliquer aux éléments multi-colonnes) */

    element1,
    element2{
        float: none;
        width: auto;
    }
    
    /* masquer les éléments superflus */

    .hide_mobile {
        display: none !important;
    }
    
    /* Un message personnalisé */

    body:before {
        display: block;
        text-align: center;
        font-style: italic;
        color: #777;
	}

    